.contact__input{
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}
.contact__button{
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}
.button{
  display: inline-block;
  background-color:blue;
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight:30px;
  border-radius: .5rem;
}
.button:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
}
.contact{
  margin-top:5rem;
  border-radius:30px;
  border-style:solid;
  border-color:lightgrey;
box-shadow: 0 10px 36px rgba(0,0,0,.15);
}